.watchlist--image {
    height: 300px;
    width: 800px;
}
.watchlist--item {
    list-style-type: none;
    margin-bottom: 40px;
    color:white;
}

.watchlist--h2 {
    display:flex;
    justify-content: center;
    color: white;
}

.watchlist--noteContainer {
    display:flex;
}

.watchlist--notes {
    margin-right: 2rem;
}

.watchlist--noteContainer button {
    height: 1.5rem;
    margin-top: 1rem;
}

.watchlist--main {
    background-color: black;
}
.stockForm {
    background-color: black;
    color: white;
}

.stockForm--main {
    background-color: black;
    height:550px;
    margin-top: -30px;
}