.stockform--h2 {
    display:flex;
    justify-content: center;
}

.stockform--image {
    height: 300px;
    width: 800px;
    margin-left: 40px;
    
}

.stockForm {
    margin-left: 0px;
    background-color: black;
    height: 100vw;
    color:white;
}

.form-group {
    margin-left: 40px;
}

.stockform--info {
    margin-left: 40px;
}

.stockform--button {
    margin-left: 40px;
}

.form-control-stock {
    display: block;
    width: 20%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}