@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.positive {
    top: 5em;
    left: 10em;
    right: 10em;
    bottom: 25em;
    background-color: rgb(243, 243, 226);
    box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4);
    border-radius: 0.5em;
    text-align: center;
    margin: 0.5em 0;
    max-height: 20rem;
    width: 35%;
  }

  .negative {
    top: 5em;
    left: 10em;
    right: 10em;
    bottom: 25em;
    background-color: rgb(243, 243, 226);
    box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4);
    border-radius: 0.5em;
    text-align: center;
    margin: 0.5em 0;
    max-height: 20rem;
    width: 35%;
  }

  .stock--list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 20px;
      min-width: 800px;
  }

  .positive:hover {
      background-color: rgb(7, 206, 7);
  }

  .negative:hover {
      background-color: rgba(255, 56, 0, 1);
  }

  .home--heading {
      display:flex;
      justify-content: center;
  }

 .home--picture img {
     height: 3.7rem;
     width: 100vw;
 }

 .main--container {
     background-color: black;
     min-height: 100vh;
     width:100vw;
     /* width:fit-content; */
    
 }

 .home--h1 {
     color:white;
 }

.instant-search {
    color:white;
}
.home--search {
    width: 210px;
}

.search--container {
    display: inline-flex;
    box-sizing: border-box;
    background-color: gray;
    margin-left: 1rem;
    margin-top: 10px;
}

.home--footer {
    height: 75px;
    background-color: gray;
}

.home-section {
    /* border: 2px solid white; */
    display:flex;
    
}


.up-arrow {
    color:rgb(7, 206, 7);
}

.down-arrow {
    color: red;
}

.chart--positive {
    color:rgb(7, 206, 7);
}

.chart--negative {
    color: red;
}

.markets__table {
    color: gray;
    margin-left: 11px;
    margin-bottom: 15px;
}

.article__content {
    color:white;
}

.figure__image {
    margin-left: -38px;
}

.trending__header {
    box-sizing:border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    color: hsla(0,0%,100%,.8);
    margin-right: auto;
    flex: 100%;
    justify-content: center;
    width: 100%;
    text-align: center;
    top: -26px;
    height: 26px;
    padding: 4px 0;
    align-items: center;
    background-color: rgba(19, 17, 10, 0.4);
}

.trending__description {
    font-size: .85714rem;
    border-left: 1px solid #6a6a6a;
    padding-left: 10px;
    margin-left: 10px;
}

.list--trending {
    border-right: 1px solid #131313;
    margin: 0;
    /* width: 100vw; */
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background: linear-gradient(1deg,rgb(155, 155, 155), black);
}

.trending__data {
    display: flex;
    align-items: flex-end;
}
.link__content {
    width: 100%;
}

/* .link__content:hover {
    background-color: rgba(72, 62, 23, 0.4);
} */

.trending__item{
    width: 20%;
    border-right: 3px solid rgb(80, 79, 79);
    padding-left: 10px;
}

.side--section{
    min-height: 100vw;
    border-right:4px solid rgba(36, 35, 32, 0.4);
    width: 370px;
}

.element--article{
    margin-left: 11px;
    padding-right: 10px;
}

.trending__number{
    font-size: .85714rem;
    margin-left: 5px;
}

.trending__percentage{
    color: white;
    font-weight: bold;
}

.value--stock{
    color: white;
    font-weight: bold;
    margin-left: 30px;
}

.trending__symbol{
    color:rgba(48, 137, 196, 0.904);
}

.yogi {
    width: 300px;
}
/* #root{
    width:fit-content;
} */