@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.positive {
    top: 5em;
    left: 10em;
    right: 10em;
    bottom: 25em;
    background-color: rgb(243, 243, 226);
    box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4);
    border-radius: 0.5em;
    text-align: center;
    margin: 0.5em 0;
    max-height: 100%;
    width: 35%;
  }

  .negative {
    top: 5em;
    left: 10em;
    right: 10em;
    bottom: 25em;
    background-color: rgb(243, 243, 226);
    box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4);
    border-radius: 0.5em;
    text-align: center;
    margin: 0.5em 0;
    max-height: 100%;
    width: 35%;
  }

  .stock--list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px;
  }

  .positive:hover {
      background-color: green;
  }

  .negative:hover {
      background-color: rgba(255, 56, 0, 1);
  }

  .home--heading {
      display:flex;
      justify-content: center;
  }

 .home--picture img {
     height: 400px;
     width: 100vw;
 }

 .main--container {
     background-color: black;
     /* background-image: url("../images/background2.png"); */
     background-size: cover;
 }

 .home--h1 {
     color:white;
 }

.instant-search {
    color:white;
}
.home--search {
    width: 150px;
}

.search--container {
    display: inline-flex;
    box-sizing: border-box;
    background-color: gray;
    margin-left: 1rem;
    margin-top: 10px;
}